<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recover your password</title>
</head>
<body>
  <h1>Recover your password</h1>
  <p>Click this URL to change your password: <a href="{{url}}/recover/{{code}}">{{url}}/recover/{{code}}</a></p>
  <p>This code will expire in {{expiration}} hour(s)</p>
</body>
</html>